 <div class="textContact" style="float:left;"> 
                       <p>Clean Shave <br>Вулиця Городоцька Львів,<br>site@mysite.com тел:123-456-7890 факс:123-456-7890</p> 
 
          <i class="fa fa-skype" aria-hidden="true"></i> here_your_login_skype <br>
          <i class="fa fa-yelp" aria-hidden="true"></i> 279679659 <br>
          <span>@</span> psdhtmlcss@mail.ru <br>
          <i class="fa fa-phone" aria-hidden="true"></i> 80 00 4568 55 55
      </div>
      <h1>Наше розташування</h1>
      <br>
 <img src="http://vesti-ukr.com/img/article/924/17_main.jpg" alt="">