<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<!--footer start from here-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-9 footer-col">
        <div class="logofooter">Чисте гоління</div>
        <p>Брендовий товар за розумними цінами</p>
        <p><i class="fa fa-map-pin"></i> #228, Львів, Україна</p>
        <p><i class="fa fa-phone"></i> Тел: +91 9999 999 999</p>
        <p><i class="fa fa-envelope"></i> E-mail : info@ideveloper.com</p>
        
      </div>
<!--
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">GENERAL LINKS</h6>
        <ul class="footer-ul">
          <li><a href="#"> Career</a></li>
          <li><a href="#"> Privacy Policy</a></li>
          <li><a href="#"> Terms & Conditions</a></li>
          <li><a href="#"> Client Gateway</a></li>
          <li><a href="#"> Ranking</a></li>
          <li><a href="#"> Case Studies</a></li>
          <li><a href="#"> Frequently Ask Questions</a></li>
        </ul>
      </div>
-->
      <div class="col-md-5 col-sm-9 footer-col">
        <h6 class="heading7">Останні новини</h6>
        <div class="post">
          <p>Мейвезер проти Макгрегора, що це буде?<span>Серпень 26,2017</span></p>
           <p>Мейвезер проти Макгрегора, що це буде?<span>Серпень 26,2017</span></p>
          <p>Мейвезер проти Макгрегора, що це буде?<span>Серпень 26,2017</span></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 footer-col">
        <h6 class="heading7">Ми у соц мережах</h6>
        <ul class="footer-social">
          <li><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></li>
          <li><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></li>
          <li><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></li>
          <li><i class="fa fa-google-plus social-icon google" aria-hidden="true"></i></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2017 - Всі права захищені</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="#">Головна</a></li>
        <li><a href="#">Контакти</a></li>
        <li><a href="#">Магазин</a></li>
        <li><a href="#">Відгуки</a></li>
      </ul>
    </div>
  </div>
</div>